.button {
    user-select: none;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid var(--color-primary);
    color: white;
    background-color: var(--color-primary-light);
    border-radius: calc(var(--border-radius) / 4);
    padding: 8px 16px;
    font-weight: 500;
    font-size: calc(var(--font-size) * 0.8);
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--color-primary);
}