.card {
    width: var(--card-width);
    background-color: white;
    border: 1px solid var(--border-color);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: left;
}

.card .title {
    font-size: 1.6rem;
    font-weight: 500;
}

.card .content {
    font-size: var(--font-size);
    margin-bottom: 20px;
    min-height: 60px;
}

.card .date {
    color: var(--color-gray);
    margin-bottom: 20px;
}

.card .buttonSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}