.dotButton {
    position: relative;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.6rem;
    color: white;
    line-height: 16px;
}

.dotButton:hover {
    cursor: pointer;
    width: 48px;
}