.slideBar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    min-width:  140px;
}

.slideBar svg {
    transition: var(--animated);
}

.slideBar svg:hover {
    cursor: pointer;
    color: var(--color-primary);
}

.slideBar span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.slideBar .dot > svg:hover {
    cursor: pointer;
    fill: var(--color-primary);
}