.slideBar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    min-width:  140px;
}

.slideBar svg {
    transition: var(--animated);
    color: var(--color-gray-dimmed);
}

.slideBar svg:hover {
    cursor: pointer;
    color: var(--color-success-dimmed);
}

.slideBar span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.slideBar .dot > svg {
    color: white;
    fill: var(--color-gray-dimmed);
}

.slideBar .dot > svg:hover {
    cursor: pointer;
    fill: var(--color-gray);
}

.slideBar .active > svg {
    fill: var(--color-success);
}

.slideBar .active > svg:hover {
    fill: var(--color-success);
}